@model List<Food_Recipe.Domain.Models.Recipe>
@{
    ViewData["Title"] = "NonVeg Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mt-4 mb-4">NonVeg Recipes</h2>
@if (!Model.Any())
{
    <p>No recipes found.</p>
}
else
{
    <div class="recipe-grid">
        @foreach (var recipe in Model)
        {
            <div class="card recipe-card ">
                @* <img src="@recipe.Img" alt="@recipe.Name" /> *@
                <img src="@Url.Content("~/" + recipe.Img)" alt="@recipe.Name" />

                <h3>@recipe.Name </h3>
                <p class="rating">⭐ @recipe.Rating / 5</p>
                <p>@recipe.Description</p>

                <div class="details-section">
                <h4>Ingredients:</h4>
                <ul>
                    @foreach (var ing in recipe.Ingredients)
                    {
                        <li>@ing</li>
                    }
                </ul>

                <h4>Instructions:</h4>
                <ol>
                    @foreach (var step in recipe.Instructions)
                    {
                        <li>@step</li>
                    }
                </ol>
                    @if (recipe.Nutrition != null)
                    {
                        <h4>Nutrition</h4>
                        <ul>
                            <li>Calories: @recipe.Nutrition.Calories</li>
                            <li>Protein: @recipe.Nutrition.Protein</li>
                            <li>Carbs: @recipe.Nutrition.Carbs</li>
                            <li>Fat: @recipe.Nutrition.Fat</li>
                        </ul>
                    }
                    </div>

                <div class="bottom-buttons">
                    <form asp-action="AddToSaved" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@recipe.Id" />
                        <button type="submit" class="btn btn-sm btn-outline-primary">💾 Save</button>
                    </form>

                    <form asp-action="AddToFavorite" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@recipe.Id" />
                        <button type="submit" class="btn btn-sm btn-outline-danger">❤️ Favorite</button>
                    </form>
                </div>
            </div>
        }
    </div>
}
